.toolbar-icon.toolbar-icon-admin-toolbar-tools-help::before, /*ok*/
.toolbar-icon-10 .toolbar-icon-admin-toolbar-tools-help::before /*ok*/
 {
    background-image: url(../../../../themes/custom/reseau/img/favicon-logo.png)!important; 
}

.tabledrag-toggle-weight,/*ok*/
input[name="ief-reference-submit-field_fmt_contacts-form"],
.js-form-item-field-fmt-contacts-form-entities-0-form-delete.form-item--field-fmt-contacts-form-entities-0-form-delete,/*ok*/

.view-id-content.view-display-id-page_1 #edit-header,
#views-exposed-form-user-admin-people-page-1 .form-item--permission,/*ok*/
.view-id-media_library.view-display-id-page .media-library-select-all,
#edit-simple-sitemap,/*ok*/
#edit-group-paragraphes thead,
#field_vignettes_formation-media-library-wrapper .media-library-widget__toggle-weight,
#block-claro-help,/*ok*/
form.node-structure-edit-form #edit-field-resultats-wrapper table#field-resultats-values #edit-field-resultats-0-top #edit-field-resultats-0-top-links-remove-button,/*ok*/
#field-reseaux-sociaux-values td.field-multiple-drag,/*ok*/
.media-galerie-add-form #edit-field-media-slideshow-wrapper .media-library-widget__toggle-weight,
.media-galerie-edit-form #edit-field-media-slideshow-wrapper .media-library-widget__toggle-weight
{
    display:none!important;
}

.field--name-field-pb-p-paragraphes table table thead,/*ok*/
.field--name-field-structure-p-carrousel table thead  {
display: none; 
}

/*FORMTION*/
#entity_browser_iframe_entity_browser_contacts {
    height: 465px!important;/*ok*/
}

.entity-browser-iframe-container  {
width: 100%!important;
}
.js .paragraph-type-title,
.js .paragraph-type-label
 {
    overflow: visible;
}
.toolbar-icon-menu-link-content2ecc4ecb-db17-4c7d-a4f3-8f656f90fe2d:before {
    background-image: url(../../../../themes/custom/reseau/img/form.svg);
  }

.field--name-field-pb-p-paragraphes .draggable td.field-multiple-drag,/*ok*/
.field--name-field-p-sidebar .draggable td.field-multiple-drag {
    border: 0px solid #999999;
    border-left-width: 5px;
    /* border-spacing: 25px; */
    
    border-top: 7px solid #fcfcfa;
}


.js .paragraph-type-title {
    -webkit-flex-basis: 150px!important;
    -ms-flex-preferred-size: 150px!important;
    flex-basis: 150px!important;
}

.field--name-field-p-sidebar table.field-multiple-table > thead .paragraphs-actions,
.field--name-field-pb-p-paragraphes table.field-multiple-table > thead .paragraphs-actions
 {
    display:none;
}


/*Contenu selection des blocs rutilisables*/
#entity-browser-entity-browser-blocs-form h3 {
    color: #009e99;
    font-size: .98438rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
      
}

#entity-browser-entity-browser-blocs-form h2{
    font-size: 1.4rem;
    margin: 2rem 0 1rem 1rem;
  position: relative;
  text-transform: uppercase;
  text-align: left;
font-weight: 600;
}
#entity-browser-entity-browser-blocs-form h2::before {
    content: "";
    width: 0.4rem;
    height: 1.8rem;
    background: #009e99;
    display: block;
    position: absolute;
    left: -1rem;
    margin-left: 0rem;
  }

  #entity-browser-entity-browser-blocs-form  a {
    color: #009e99;
    text-decoration: none;
  }

  #entity-browser-entity-browser-blocs-form{
    font-size: .9375rem;
  }

  /*Agrandi main div form coté admin*/
  .layout-region--main, .layout-region--footer {
    --layout-region-edit-width : 90%;
  }

  .layout-region--main:has(.vertical-tabs), .layout-region--main:has(.vertical-tabs) ~ .layout-region--footer {
    --layout-region-edit-extended-width : 90%;
  }

  /*Required field*/
  .fieldset__legend.form-required .fieldset__label::after,
  .vertical-tabs__menu-item-title.form-required::after
   {
    display: inline-block;
    margin-inline: 0.15em;
    content: "*";
    color: var(--color-maximumred);
    font-size: 0.875rem;
  }

  .js .field--widget-entity-reference-paragraphs .field-multiple-drag {
    vertical-align: middle!important;
  }