
$vert: #009e99;
$vertnuancefonce:#00847F;
$vertnuanceclair:#3DBAB4;
$vertnuancetresclair:#009e9914;
$vertpomme: #b8cf31;
// $bleuclair: #1aa4b0;
$grisfooter: #3a3a3a;
// $orange: #f07c25;
$blanc: #ffffff;
$grisblanc: #ffffffd9;
$gristresclair: #f5f9fc80;
$grisclair: #f5f9fc;
$grismoyen: #edf2f5;
$grisfonce: #b3b6bb;
$grisfoncepolice: #737578;
$noirpolice: #474747;
$noir: #000000;
$brand-primary: $vert;

$rouge:#c21936;
$rougetresclair:#c2193617;
//dégradé résultats
$dgrd1:#84acd5;
$dgrd2:#4497ca;
$dgrd3:#409fbc;
$dgrd3tresclair:#409fbc17;
$dgrd4:#44abaf;
$dgrd5:#44a695;

// //dégradé résultats
// $dgrd1:#006A66;
// $dgrd2:#00847F;
// $dgrd3:#009E99;
// $dgrd4:#3DBAB4;
// $dgrd5:#5ED6CF;

/*Couleurs logos*/
$orangegip: #f39200;
$orangegiptresclair: #f5930017;
$bleugip: #263375;
$bleucfapag: #295b84;
$bleucapsbh: #7192bf;
// $bleucfapagtresclair: #295b8417;
$orangecfpag: #cd6a14;


$font-family:   'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);
 
// $grid-gutter-width:         90px;

$nav-tabs-link-active-color:        $vert;
$nav-tabs-link-active-bg:           $blanc;

$link-color:                              $vert;
$link-decoration:                         none;
// $link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   none;



$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-base:              0.9375rem ; // Assumes the browser default, typically `16px`
 $line-height-base:            1.7;
// $font-family-sans-serif:     system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif:      'Open Sans',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$h1-font-size:                $font-size-base * 2; 
$h2-font-size:                $font-size-base * 2 ;
$h3-font-size:                $font-size-base * 1.6 ;
$h4-font-size:                $font-size-base * 1.1 ;
$h5-font-size:                $font-size-base * 1.05 ;
$h6-font-size:                $font-size-base !default;


$headings-font-weight:        600;
$headings-line-height:        1.3;

$display4-size:               2rem;

$body-color: $noirpolice;
// $btn-link-color: $blanc;
$btn-link-color: red!important;

$primary:       $vert;
// $secondary:       $bleuclair;
// $fa-font-path:        "../webfonts";

$theme-colors: (
  "primary": $vert,
  "secondary": $orangegip,
  "danger": #ff4136
);


$spacer: 1rem ;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
) ;

$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);



$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
// $input-btn-border-width:      $border-width;



/*accordeon*/
$accordion-color: $noirpolice;

// $accordion-bg: $gristresclair;
$accordion-border-color: $grismoyen;

// $accordion-border-width:  1px;
$accordion-border-radius: 14px;

$accordion-button-bg: $gristresclair;

$accordion-button-focus-box-shadow: 0 0 0 0.15rem #009e9940;

/*tabs*/
$nav-tabs-border-color:$grismoyen;
$nav-tabs-link-active-border-color:$grismoyen;
// $nav-tabs-border-width:1px;
$nav-tabs-border-radius:    10px;
$nav-tabs-link-active-bg:#e6f5f5;

/*card*/
$card-border-color:$grismoyen;  