<!doctype html>
<title>Site en maintenance</title>
<style>
  body { text-align: center; padding: 50px;background: url(banniere-1.jpg) no-repeat; }
  h1 { font-size: 35px; }
  body { font: 25px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; max-width: 650px; width: 100%; margin: 0 auto; padding: 35px 50px;    background: rgb(255 255 255 / 70%);}
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>GRETA CFA GIP-DAIFI <br/> R&eacute;seau Formation Professionnelle Acad&eacute;mie Guadeloupe</h1>
    <div>
        <p>

  {{ page.content }}    
          
    </div>
</article>