.text-count-wrapper {
    font-size: .8rem;
color: #474747;
font-style: italic;
}

.text-count-wrapper.webform-counter-warning {
    color: #a11623;
    font-weight: bold;
}

.form-item-piece-jointe .js-form-type-checkbox, #edit-comment-offre-de-formation-checkboxes .js-form-type-checkbox {
display:flex;
}

.form-radio.form-control {

    appearance: auto;
    width: auto;
    display: inline-block;
}

.webform-options-display-side-by-side > div.form-item {

    margin: 0.5rem 1.5rem 0 0!important;
}

.form-date {
    margin-top: 0.25rem;
}

.webform-submission-form > .form-item:not(.h1, .h2) > label,
.webform-submission-form #contact_greta_cfa_de_la_guadelou--formations--wrapper > .form-item:not(.h1, .h2) > label,
.webform-submission-form > .form-wrapper  #identification_victimes_table > .form-item:not(.h1, .h2) > label,
.webform-submission-form > .form-wrapper  #identification_auteurs_table > .form-item:not(.h1, .h2) > label,
.webform-submission-form > .form-wrapper > .form-item > label,
.webform-submission-form .webform-flexbox .form-item > label,
.webform-submission-form fieldset .fieldset-wrapper .form-item > label
 {
    text-shadow: 1px 1px 1px #d7d6d6;
}    

.webform-submission-form .form-item:not(fieldset,.js-form-type-checkbox,.h1,.h2),
.webform-submission-form > .webform-flexbox
{
    margin: .5rem 0 1.5rem;
}

.webform-submission-form select {
    margin:.5rem 0 0;
}

.webform-submission-form .webform-flexbox {
    margin: 0em -0.5em;
}
/*Téléphone et email*/
.webform-submission-form > .webform-flexbox input{
    /* margin: 0em -0.5em 1.5rem; */
    margin: .25rem 0;
}


.webform-submission-form > fieldset > legend{
    margin: 0;
}

/* .page-no-node .contenuprincipal #block-reseau-content {
    margin-top: -200px;
    padding-top: 200px;
  } */

  div#block-reseau-local-tasks {
    z-index: 999;
}