{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{%
  set form_classes = [
    'row',
'justify-content-center',
'align-content-start',
  ]
%}



<form{{ attributes.addClass(form_classes) }}>
{% set view = drupal_view_result('recherche_formations', 'page_2')|length  %}
{% if view > 0 %}
<div class="formations_disponibles">
<span>{{ view }} formations disponibles</span>
</div>
{% endif %}

  {{ children }}
</form>
{# {{ kint(element) }} #}