{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
{# {{ kint(form) }} #}
{%
  set backend = form.navigation
%}

{% if backend %} 

<span class="conteneur-retour"><a class="btn btn-retour" href="/admin/structure/webform/manage/contact_greta_cfa_de_la_guadelou/results/submissions">Retour aux résultats</a></span>
{% endif %}
{{ form }}
